
:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #1E1E1E;
    font-family: 'Lobster', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
